.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  justify-content: center;
}

.cards__text {
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-size: 20px;
  margin: 25px;
}

.card__list-item {
  width: 323px;
  height: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__list-content {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 15px;
}

.card__list-name {
  top: 15px;
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-size: 20px;
  color: #00000099;
  border-radius: 5px;
  padding: 2px 12px;
  margin: 0;
  background-color: white;
}

.card__list-image {
  width: 100%;
  height: auto;
  border-radius: 25px;
  border: 1px solid #0000004d;
  object-fit: cover;
}

.card__list-like-button {
  background: transparent url(../assets/Vectorheart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin: 0;
  align-self: center;
  border: 0;
}

.card__list-like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__list-like-button_active {
  background-image: url(../assets/Activeheart.svg);
}
