.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
}

.footer__signature {
  font-family: "CabinetGrotesk-Medium", Times, serif;
  font-weight: 500;
  font-size: 16px;
}

.footer__date {
  font-family: "CabinetGrotesk-Medium", Times, serif;
  font-weight: 500;
  font-size: 16px;
}
