.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  margin-right: 26px;
}

.header__date-and-location {
  margin: 0;
}

.header__switch-container {
  display: flex;
  margin: 0 20px 0 auto;
}

.header__add-clothes-button {
  margin: 0 20px 0 0;
  border: none;
  font-family: "CabinetGrotesk-Bold", Times, serif;
  font-size: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}
