.page {
  background-color: #f3f3f3;
}

.page__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 3%, 6%);
}

.page__loading-image {
  width: 100%; /* Adjust size as needed */
  height: 100%;
  margin: 100px;
}

.page__content {
  width: 95%;
  margin: 0 auto;
  padding: 0 40px;
}
