.modal {
  background-color: white;
  position: fixed;
  max-width: 496px;
  width: 100%;
  top: 193px;
  left: 472px;
  border: 1px solid #0000004d;
  border-radius: 20px;
}

.modal__content {
  padding: 28px 28px 36px;
}

.modal__title {
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}
